* {
  font-family: "Open Sans";
}

.container {
  padding-top: 94px;
  padding-left: 58px;
  display: flex;
}

.container__form__logo {
}

.container__form__text1 {
  font-size: 36px;
  color: #002f41;
  font-weight: bold;
  padding-left: 37px;
  padding-top: 28px;
}

.container__form__welcome {
  font-family: "Roboto";
  font-size: 18px;
  color: rgba(0, 0, 0, 0.6);
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 37px;
}

nb-checkbox {
  color: rgba(0, 47, 65, 1);
}

.container__form__forget-password {
  color: rgba(0, 47, 65, 1);
}

.container__img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container__form__input {
  margin-left: 40px;
  border: 1px solid rgba(193, 187, 187, 1);
  width: 93%;
  height: 50px;
  padding-left: 20px;
}

.container__form__input:focus {
  border-left: 3px solid #002f41;
}

.container__form__input::placeholder {
  color: #7ab99d;
}

.container__form__tools {
  margin-left: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
