<link
  href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,300"
  rel="stylesheet"
  type="text/css"
/>
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap"
  rel="stylesheet"
/>
<div class="container">
  <div class="container__form">
    <img
      src="./assets/LogoPrincipal1.png"
      class="container__form__logo"
      alt=""
    />
    <h2 class="container__form__text1">Solução Integrada em Projetos</h2>
    <p class="container__form__welcome">
      Bem vindo de volta! por favor, faça o login com sua conta
    </p>
    <input
      type="text"
      nbInput
      fullWidth
      fieldSize="large"
      placeholder="mail@mail.com"
      class="container__form__input"
    />
    <input
      type="password"
      nbInput
      fullWidth
      fieldSize="large"
      placeholder="*********"
      class="container__form__input"
    />
    <div class="container__form__tools">
      <nb-checkbox status="basic">manter-se conectado</nb-checkbox>
      <a href="#" class="container__form__forget-password">Esqueceu a senha?</a>
    </div>
    <button nbButton fullWidth status="primary" size="medium">Entrar</button>
    <button nbButton fullWidthsize="medium">Registrar</button>
    <p>Entrar com:</p>
    <i></i><a href="#">Onedrive</a>
  </div>
  <div class="container__img">
    <img src="./assets/business.png" alt="" />
  </div>
</div>
