<h2>Solicitação avulsa do cartão da Transpal para o aluno</h2>

<mat-card class="home mat-elevation-z3">
  <mat-card-title class="home-title"> Dados do aluno </mat-card-title>
  <mat-card-content>
    <table>
      <tbody>
        <tr>
          <td><label for="nome">Nome:</label></td>
          <td><span id="nome">WILAMIS MICAEL DE ARAUJO AVIZ</span></td>
        </tr>
        <tr>
          <td><label for="matricula">Matrícula:</label></td>
          <td><span id="matricula">21210001</span></td>
        </tr>
        <tr>
          <td><label for="curso">Curso:</label></td>
          <td>
            <span id="curso"
              >Engenharia De Computação - Presencial - Campus Maceió -
              Bacharelado - Diurno - Semestral (1139973)</span
            >
          </td>
        </tr>
      </tbody>
    </table>
  </mat-card-content>
</mat-card>
<mat-card class="mat-elevation-z3">
  <div class="submit">
    <mat-card-title> Avisos</mat-card-title>
    <mat-card-subtitle>
      Clique no botão abaixo para fazer uma solicitação à Transpal para o aluno
      WILAMIS MICAEL DE ARAUJO AVIZ.
    </mat-card-subtitle>
    <button class="btn" type="submit" mat-button>
      solicitar formulário de cadastro/recadastro
    </button>
  </div>
</mat-card>
