@mixin content() {
  main {
    width: 100%;
    grid-area: content;

    .container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      margin: 30px;
    }
  }
}
