<mat-card>
  <mat-card-title>Dados Pessoais</mat-card-title>
  <form>
    <mat-form-field>
      <input matInput placeholder="Nome do aluno" name="name" type="text" />
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Nome do pai" name="name" type="text" />
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Nome da mae" name="name" type="text" />
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="Data de Nascimento"
        name="name"
        type="date" />
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Sexo" name="name" type="text" />
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Etnia" name="name" type="text" />
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="E-mail" name="name" type="mail" />
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Telefone" name="name" type="mail" />
    </mat-form-field>
  </form>
</mat-card>

<mat-card>
  <mat-card-title>Dados do Ensino Médio</mat-card-title>
  <form>
    <mat-form-field>
      <input
        matInput
        placeholder="Ano de Conclusão do Ensino Médio"
        name="name"
        type="text" />
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Tipo de Escola" name="name" type="text" />
    </mat-form-field>
  </form>
</mat-card>

<mat-card>
  <mat-card-title>Documentos</mat-card-title>
  <form>
    <mat-form-field>
      <input matInput placeholder="CPF" name="name" type="text" />
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="RG" name="name" type="text" />
    </mat-form-field>
  </form>
</mat-card>

<mat-card>
  <mat-card-title>Endereço Residencial</mat-card-title>
  <form>
    <mat-form-field>
      <input matInput placeholder="Logradouro" name="name" type="text" />
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Número" name="name" type="number" />
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Complemento" name="name" type="text" />
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Bairro" name="name" type="text" />
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="CEP" name="name" type="text" />
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Estado" name="name" type="text" />
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Cidade" name="name" type="text" />
    </mat-form-field>
  </form>
</mat-card>
