form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

button {
  margin: 20px 15px 0px 0px;
}

.mat-card {
  margin-bottom: 10px;
}

.submit {
  display: flex;
  justify-content: center;
}

.btn {
  background-color: #3f51b5;
  color: #fff;
  margin: 15px;
}
