.button {
  padding: 0.3rem 0.4rem;
  border-radius: 8px;
  background-color: white;
  cursor: pointer;

  &__plusIcon {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
  }
}
