span {
  font-weight: 500;
}

.mat-card,
.mat-table {
  margin-bottom: 10px;
}

table {
  width: 100%;
}

h2 {
  padding-left: 5px;
}

.mat-header-cell {
  text-align: center;
}

.histComum {
  text-align: center;
}
