.sidebar {
  background-color: #090909;
  position: relative;
  width: 20%;
  height: 100vh;
  float: left;
  border-collapse: collapse;
  display: flex;
  align-items: center;
  justify-content: center;
}
