<mat-card class="login">
    <mat-card-title>Login - Sie Web</mat-card-title>
    <mat-card-content>
        <form>
          <p>
            <mat-form-field>
              <input type="text" matInput placeholder="CPF" formControlName="username" >
            </mat-form-field>
          </p>

          <p>
            <mat-form-field>
              <input type="password" matInput placeholder="Senha" formControlName="password">
            </mat-form-field>
          </p>

          <div class="button">
            <button type="submit" mat-button>Entrar</button>
            <button type="submit" mat-button>Não consegue acessar sua conta</button>
          </div>

          
        </form>
      </mat-card-content>
</mat-card>