<div class="container-calc">
  <div class="display">
    <input type="text" class="form-control display__input" />
  </div>

  <div class="buttons">
    <button class="form-control button">AC</button>
    <button class="form-control button">+/-</button>
    <button class="form-control button">%</button>
    <button class="form-control button">/</button>
    <button class="form-control button">7</button>
    <button class="form-control button">8</button>
    <button class="form-control button">9</button>
    <button class="form-control button">*</button>
    <button class="form-control button">4</button>
    <button class="form-control button">5</button>
    <button class="form-control button">6</button>
    <button class="form-control button">-</button>
    <button class="form-control button">1</button>
    <button class="form-control button">2</button>
    <button class="form-control button">3</button>
    <button class="form-control button">+</button>
    <button class="form-control button zero-button">0</button>
    <button class="form-control button">.</button>
    <button class="form-control button">=</button>
  </div>
</div>
