/* .display {
  font-size: 2.5rem;
} */

.display__input {
  height: 100px;
  color: #fff;
  font-weight: 400;
  background-color: #858694;
  text-align: right;
  flex: 0 0 auto;
  font-size: 4.5rem;
}

.buttons {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

.button {
  background-color: #e0e0e0;
  border: 0;
  font-size: 1.5rem;
  margin: 0 1px 0 0;
  flex: 1 0 auto;
  padding: 0;
}

.zero-button {
  flex-grow: 2;
}
