@import "../../shared/styles/styles.scss";
@include content;

.container {
  &__list__cards {
    display: flex;
    gap: 15px;
    margin-bottom: 100px;
    align-items: center;
    justify-content: space-around;
  }
}
