.footer {
  display: flex;
  justify-content: flex-end;

  & > div {
    background: #b88af3;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0px 17px 10px -10px rgba(0, 0, 0, 0.5);
  }
}
