.btn {
  background-color: #b88af3;
  color: #ffffff;
  border-radius: 12px;
  padding: 16px 30px;
  border: none;
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  cursor: pointer;
  width: 100%;
}

.btn:hover {
  background-color: #cda6ff;
}
