.btn {
  background-color: #b88af3;
  color: #ffffff;
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  border: none;
}

.btn:hover {
  background-color: #cda6ff;
}
