.container {
  display: grid;
  grid-template-columns: 1fr 5fr;
}

.container__content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  margin: 2rem 3rem;
  gap: 2rem;
}
